<%= form_for(@commentaire) do |f| %>
  <% if @commentaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentaire.errors.count, "error") %> prohibited this commentaire from being saved:</h2>

      <ul>
      <% @commentaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texte_commentaire %><br>
    <%= f.text_area :texte_commentaire %>
  </div>
  <div class="field">
    <%= f.label :date_commentaire %><br>
    <%= f.date_select :date_commentaire %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.text_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :utilisateur_id %><br>
    <%= f.text_field :utilisateur_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
